# Núcleo de Python
numpy
pandas

# Procesamiento de lenguaje natural
spacy
sentence-transformers
faiss-cpu

# Manejo de PDFs
pypdf

# Interfaz gráfica
gradio

# Utilidades
scikit-learn
regex
es_core_news_sm

# Manejo de JSON y fechas
python-dateutil
pytz
